# Node.js
backend/node_modules/
backend/.env
backend/package-lock.json

# Flutter
flutter_application/build/
flutter_application/.dart_tool/
flutter_application/.packages
flutter_application/pubspec.lock

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db